  a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  }
  a:visited {
  color: black;
  }
  a:hover {
  opacity: 1.0;
  color: #B3c618;
  background-color: transparent;
  }
  a:active {
  color: blue;
  background-color: transparent;
  }
  body {
		font-size: 14px;
    max-width: 750px;
    margin: auto;
    font-family: font72227;

	}
  thead, tfoot {
    font-weight: bold;
    font-size: 1.25em;
  }
	table {
		border-collapse: collapse;
		border-width: 0.1em;
        border-color: #999999;
        empty-cells: show;
        margin: auto;
        text-align: center;
    float: center;
		}
    select {
      font-family: font72227;
    }
    fieldset {
      border:1px solid;
      background-color: #d8d7d7;
    }
		fieldset.part1 {
			text-align: center;
			}
		fieldset.part2 {
			text-align: center;
			}
		fieldset.part3 {
			text-align: center;
			}
			fieldset.part4 {
				text-align: center;
				}
  label.input1 {
    display: inline-block;
    width: 3em;
    margin-right:0.2em;
    text-align:right;
    white-space: nowrap;
  }
  label.radio1 {
      display: inline-block;
      width: 2em;
      margin-right:0.2em;
      text-align:right;
      white-space: nowrap;
}
input[type="radio"] {margin-right: 0;}
	div {
		line-height: 0;
		margin: auto;
		white-space: nowrap;
	}
		input[type=text] {
      border-radius: 0.25em;
      border-style: solid;
      border-color: #999999;
      border-width: 1px;
			text-align: center;
			margin: auto;
      font-family: font72227;
		}
    input[type=number] {
      border-radius: 0.25em;
      border-style: solid;
      border-color: #999999;
      border-width: 1px;
      text-align: right;
      margin: auto;
      font-family: font72227;
    }
  form.content {
    max-width: 800px;
    margin: auto;
  }
  @media print {
    html { width:8.5in; }
    ul.breadcrumb {display:none;}
    div.grad1 {display:none;}
    .watermark {display:block;}
  }
  @media screen and (max-width:8.5in) { /* resize your window until the event is triggered */
    html { width:8.5in; }
    body { font: 9pt/1.5 font72227, sans-serif; } /* Roughly 12px font */
}
#grad1 {
    height: 20px;
    background: -webkit-linear-gradient(bottom, rgba(215,215,215,0), rgba(215,215,215,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(215,215,215,0), rgba(215,215,215,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(215,215,215,0), rgba(215,215,215,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(215,215,215,0), rgba(215,215,215,1)); /* Standard syntax (must be last) */
}

.watermark {
  display:none;
  position:absolute;
  min-height:50%;
  min-width:50%;
  color:red;
  font-size:100px;
  transform:rotate(45deg);
}
input.serials {
  width: 90%;
}
textarea#styled {
  align: center;
  width: 800px;
	height: 40px;
	border: 4px solid #d8d7d7;
	padding: 5px;
	font-family: font115649, sans-serif;
    font-size: 16px;
    vertical-align: top;
}

input.csettings {
    width:30px;
}

table.csettings {
    font-family: font115649;
    text-align: center;
    align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

select.hidearrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
tbody.csettings {
    text-align: left;
    vertical-align: top;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-family: font115649;
    color: #fe0001;
}

.thumb-image{width:800px;position:relative; display:flex;}

table.xerionballast {text-align:center; padding:5px; font-family: font115649;}

.headerlogo {
  float: left;
  width: 60%;
  padding-top: 5%;
}
