  img.homepage {
      opacity: 0.8;
  }
  img:hover.homepage {
  opacity: 1.0;
  }
  a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  }
  a:visited {
  color: black;
  }
  a:hover {
  opacity: 1.0;
  color: #B3c618;
  background-color: transparent;
  }
  a:active {
  color: blue;
  background-color: transparent;
  }
  table.homepage {
    font-size: 1.2em;
  }
  body {
		font-size: 14px;
    max-width: 8.5in;
    margin: auto;
    font-family: font72227;
	}
  thead, tfoot {
    font-weight: bold;
    font-size: 1.25em;
  }
	table {
		border-collapse: collapse;
		border-width: 0.1em;
    empty-cells: show;
    margin: auto;
		}
    select {
      font-family: font72227;
    }
    fieldset {
      border:1px solid;
      background-color: #d8d7d7;
    }
		fieldset.part1 {
			text-align: center;
			}
		fieldset.part2 {
			text-align: center;
			}
		fieldset.part3 {
			text-align: center;
			}
			fieldset.part4 {
				text-align: center;
				}
	legend {
		position: relative;
		top: -0.3em;
		border:1px #b3c618;
		color:black;
		text-align: left;
		}
  label.fieldset1 {
    display: inline-block;
    width: 4em;
    margin-right:0.2em;
    text-align:right;
    white-space: nowrap;
  }
	div {
		line-height: 0;
		margin: auto;
		white-space: nowrap;
	}
		input[type=text] {
      border-radius: 0.25em;
      border-style: solid;
      border-color: #999999;
      border-width: 1px;
			text-align: center;
			margin: auto;
      font-family: font72227;
		}
    input[type=number] {
      border-radius: 0.25em;
      border-style: solid;
      border-color: #999999;
      border-width: 1px;
      text-align: right;
      margin: auto;
      font-family: font72227;
    }
  form.content {
    max-width: 800px;
    margin: auto;
  }
  @media print {
    html { width:8.5in; }
    body { font: 9pt/1.5 font72227;, sans-serif; }
    .no-print, .no-print *
   {
       display: none !important;
   }
  }
  @media screen and (max-width:8.5in) { /* resize your window until the event is triggered */
    html { width:8.5in; }
    body { font: 9pt/1.5 font72227, sans-serif; } /* Roughly 12px font */
}

ul.breadcrumb {
    font-size: 14px;
}
ul.breadcrumb li {
    display: inline;
}
ul.breadcrumb li+li:before {
    color: black;
    padding: 8px;
    content: ">\00a0";
}
ul.breadcrumb li a:hover {
    color: #b3c618;
}
 hr {
   margin: 0;
   height: 6px;
   border: none;
   background: #999999;
   background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #666666));
 }
div.watermark {
    opacity: 0.5;
    color: black;
    position: fixed;
    top: auto;
    left: 80%;
}

#grad1 {
    height: 10px;
    background: #999999; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#999999, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#999999, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#999999, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#999999, white); /* Standard syntax (must be last) */
}
#watermark {
  position:absolute;
  display:block;
  min-height:50%;
  min-width:30%;
}
#watermarktext {
  color:#999999;
  font-size:100px;
  transform:rotate(300deg);
  -webkit-transform:rotate(300deg);
}
