  a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  }
  a:visited {color: black;}
  a:hover {
  opacity: 1.0;
  color: #B3c618;
  background-color: transparent;
  }
  a:active {
  color: blue;
  background-color: transparent;
  }
  body {
    font-size: 10px;
    max-width: 375px;
    margin: auto;
    font-family: font72227;
	}
  thead, tfoot {
    font-weight: bold;
    font-size: 10px;
  }
	table {
		border-collapse: collapse;
		border-width: 0.1em;
        border-color: #999999;
        empty-cells: show;
        margin: auto;
        text-align: center;
		}
    select {
      font-family: font72227;
      font-size: 10px;
    }
    fieldset {
      border:1px solid;
      background-color: #d8d7d7;
    }
  label.radio1 {
      display: inline-block;
      width: 2em;
      margin-right:0.2em;
      text-align:right;
      white-space: nowrap;
}
input[type="radio"] {margin-right: 0;}
	div {
		line-height: 0;
		margin: auto;
		white-space: nowrap;
	}
		input[type=text] {
      border-radius: 0.25em;
      border-style: solid;
      border-color: #999999;
      border-width: 1px;
			text-align: center;
			margin: auto;
      font-family: font72227;
      font-size: 10px;
		}
    input[type=number] {
      border-radius: 0.25em;
      border-style: solid;
      border-color: #999999;
      border-width: 1px;
      text-align: right;
      margin: auto;
      font-family: font72227;
      font-size: 10px;
    }
  form.content {
    max-width: 375px;
    margin: auto;
  }
  @media print {
    html {width: 100%;}
    /*table {page-break-inside: avoid;}*/
  }
  @media screen and (max-width:375px;) { /* resize your window until the event is triggered */
    html { width:375px; }
    body { font: 16px/1.5 font72227, sans-serif; } /* Roughly 12px font */
}
#grad1 {
    height: 20px;
    background: -webkit-linear-gradient(bottom, rgba(215,215,215,0), rgba(215,215,215,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(215,215,215,0), rgba(215,215,215,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(215,215,215,0), rgba(215,215,215,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(215,215,215,0), rgba(215,215,215,1)); /* Standard syntax (must be last) */
}
input.serials {
  width: 100%;
}
textarea#styled {
  align: center;
  width: 90%;
	height: 25%;
	border: 4px solid #d8d7d7;
	padding: 5px;
	font-family: font115649, sans-serif;
    font-size: 10px;
    vertical-align: top;
}

table.csettings {
    font-family: font115649;
    font-size: 8px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

select.hidearrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
tbody.csettings {
    text-align: left;
    vertical-align: top;
}

::-webkit-input-placeholder {
    font-size: 10px;
    font-family: font115649;
    color: #fe0001;
}
input {font-size: 10px;}

.thumb-image{width:370px;position:relative; display:flex;}

table.xerionballast {text-align:center; padding:5px; font-family: font115649;}
